<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inteliatec{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <!-- Incluimos el script compilado por encore-->
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}
</body>
</html>